{% extends 'tusi/layout.html' %}

{% load static %}

{% block hero %}
    <img src="media/hero.png">
{% endblock hero %}

{% block header %}
    Diagnoza i terapia TUSI
{% endblock header %}

{% block content %}

{% comment %} 
views.py - home_section, offer, last_news, last_about
{% endcomment %}

{% if home %}
        {% for item in home %}  
            {% include 'tusi/section.html' %}
        {% endfor %}
{% endif %}

{% if news %}
        {% with item=news %}  
            {% include 'tusi/section.html' %}
        {% endwith %}
{% endif %}

{% if offer %}
        {% with item=offer %}  
            {% include 'tusi/section.html' %}
        {% endwith %}
{% endif %}

{% endblock content %}

    
{% comment %} views.py:
'news': [last_news] if last_news else [],

{% if news %}
        {% for item in news %}  
            {% include 'tusi/section.html' %}
        {% empty %}
            Brak zawartości
        {% endfor %}
{% endif %}
{% endcomment %}