{% extends 'tusi/layout.html' %}

{% load static %}

{% block hero %}
    <img src="media/hero.png">
{% endblock hero %}


{% block header %}
    Diagnoza i terapia TUSI
{% endblock header %}

{% block content %}

{% if home %}
    {% for item in home %}
    <div class="fix-offer-bg">
        {% include 'tusi/section.html' %}
    </div>
    {% endfor %}
{% endif %}

<!-- offer panel -->
<div id="offer-container">
    <div class="home-header header">Nasza oferta</div>
    <div class="offer-section-body">
        <div class="offer-bg"></div>
        {% for item in offer %} 
        <div class="offer-col">
            {% if item.title %}
                <h2 class="offer-h2">{{ item.title }}</h2>
            {% endif %}
                <div class="height-limiter">
                    <p>{{ item.text|safe }}</p>
                </div>
            <a href="{% url 'offer_subpage' slug=item.offer_item.slug %}">więcej</a>
        </div> <!-- col -->
        {% endfor %}
    </div> <!-- section-body -->
    <p>Sprawdź całą naszą ofertę <a href="{% url 'offer' %}">tutaj</a></p>
    <div class="offer-margin"></div>
</div> <!-- container -->


{% if news %}
    {% with item=news %}  
        {% include 'tusi/section.html' %}
    {% endwith %}
{% endif %}

{% if offer %}
    {% with item=offer %}  
        {% include 'tusi/section.html' %}
    {% endwith %}
{% endif %}

{% endblock content %}


{% comment %} 
views.py - home_section, offer, last_news, last_about
{% endcomment %}


{% comment %} views.py:
'news': [last_news] if last_news else [],

{% if news %}
        {% for item in news %}  
            {% include 'tusi/section.html' %}
        {% empty %}
            Brak zawartości
        {% endfor %}
{% endif %}
{% endcomment %}