
/* Lista dostępnych styli
STYLE = [
        ('default',     'Tekst, zwykły'),
        ('default-j',   'Tekst, wyjustowany'),
        ('default-c',   'Tekst, wycentrowany'),
        ('wide-panel',  'Tekst, szeroki panel'),
        ('img-left-s',  'Obrazek z lewej, mały'),
        ('img-left-m',  'Obrazek z lewej, średni'),
        ('img-left-l',  'Obrazek z lewej, duży'),
        ('img-right-s', 'Obrazek z prawej, mały'),
        ('img-right-m', 'Obrazek z prawej, średni'),
        ('img-right-l', 'Obrazek z prawej, duży'),
        ('img-top',     'Obrazek na górze'),
        ('img-bot',   'Obrazek na dole'),
    ]
COLOR = [
    ('color-white',      'Biały'),
    ('color-gray',      'Szary'),
    ('color-blue',  'Niebieski'),
    ('color-green',    'Zielony'),
    ('color-pink',     'Różowy'),
] */

/* section config */
section.user {
    margin: 80px 7vw 0px 7vw;
    max-width: 1000px;
    padding: 40px;
    border-radius: 20px;
    border: 3vw solid var(--color-secondary);
    background-color: var(--color-secondary);
    margin-right: auto;
    margin-left: auto;

}
.user h1, .user h2, .user h3 {
    margin: 0;
}
.section-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.col1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

/* default */
.default.user .section-body {
    display: block;
}
.default.user .h-bottom {
    display: none;
}
.default.user .col1 {
    order: 1;
    flex: 1;
}
.default.user .col2 {
    order: 2;
    flex: 1;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.default.user .col2 > * {
    align-self: flex-start;
}
.default.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.default.user .col1 > .data {
    font-size: 18px;
    display:block;
    width: 100%;
    text-align: right;
    margin-left: auto;
    
}
.default.user .col1 > img {
    display: none;
}

/* default-j */
.default-j.user .section-body {
    display: block;
}
.default-j.user .h-bottom {
    display: none;
}
.default-j.user .col1 {
    order: 1;
    flex: 1;
}
.default-j.user .col2 {
    order: 2;
    flex: 1;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.default-j.user .col2 > * {
    align-self: flex-start;
}
.default-j.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.default-j.user .col1 > .data {
    font-size: 18px;
    display:block;
    width: 100%;
    text-align: right;
    margin-left: auto;
    
}
.default-j.user .col1 > img {
    display: none;
}
@media screen and (max-width: 1000px) {
    .default-j.user .col1 > img {
        border-radius: 5%;
    }
}

/* default-c */
.default-c.user .section-body {
    display: block;
}
.default-c.user .h-bottom {
    display: none;
}
.default-c.user .col1 {
    order: 1;
    flex: 1;
}
.default-c.user .col2 {
    order: 2;
    flex: 1;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.default-c.user .col2 > * {
    align-self: center;
}
.default-c.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.default-c.user .col1 > .data {
    font-size: 18px;
    display:block;
    width: 100%;
    text-align: right;
    margin-left: auto;
    
}
.default-c.user .col1 > img {
    display: none;
}
@media screen and (max-width: 1000px) {
    .default-c.user .col1 > img {
        border-radius: 5%;
    }
}

/* img-left-s */
.img-left-s.user .h-bottom {
    display: none;
}
.img-left-s.user .col1 {
    order: 1;
    flex: 1;
    min-width: 200px;
}
.img-left-s.user .col2 {
    order: 2;
    flex: 3;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.img-left-s.user .col2 > * {
    align-self: flex-start;
}
.img-left-s.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.img-left-s.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}
.img-left-s.user .col1 > img {
    border-radius: 5%;
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
}

/* img-right-s */
.img-right-s.user .h-bottom {
    display: none;
}
.img-right-s.user .col1 {
    order: 2;
    flex: 1;
    min-width: 200px;
}
.img-right-s.user .col2 {
    order: 1;
    flex: 3;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.img-right-s.user .col2 > * {
    align-self: flex-start;
}
.img-right-s.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.img-right-s.user .col1 > .data {
    font-size: 18px;
    margin-right: 3vw;
}
.img-right-s.user .col1 > img {
    border-radius: 15%;
}
@media screen and (max-width: 1000px) {
    .img-right-s.user .col1 > img {
        border-radius: 5%;
    }
}

/* img-left-m */
.img-left-m.user .h-bottom {
    display: none;
}
.img-left-m.user .col1 {
    order: 1;
    flex: 1;
    min-width: 360px;
}
.img-left-m.user .col2 {
    order: 2;
    flex: 2;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.img-left-m.user .col2 > * {
    align-self: flex-start;
}
.img-left-m.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}
.img-left-m.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}

/* img-right-m */
.img-right-m.user .h-bottom {
    display: none;
}
.img-right-m.user .col1 {
    order: 2;
    flex: 1;
    min-width: 320px;
}
.img-right-m.user .col2 {
    order: 1;
    flex: 2;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.img-right-m.user .col2 > * {
    align-self: flex-start;
}
.img-right-m.user .col2 > .button {
    margin-top: auto;
    margin-bottom: 20px;
}

/* img-left-l */
.img-left-l.user .h-bottom {
    display: none;
}
.img-left-l.user .col1 {
    order: 1;
    flex: 3;
    min-width: 360px;
}
.img-left-l.user .col2 {
    order: 2;
    flex: 1;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}
.img-left-l.user .col2 > * {
    align-self: center;
}
.img-left-l.user .col2 > .button {
    margin-top: 20px;
    margin-bottom: auto;
}
.img-left-l.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}

/* img-right-l */
.img-right-l.user .h-bottom {
    display: none;
}
.img-right-l.user .col1 {
    order: 2;
    flex: 3;
    min-width: 320px;
}
.img-right-l.user .col2 {
    order: 1;
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.img-right-l.user .col2 > * {
    align-self: center;
}
.img-right-l.user .col2 > .button {
    margin-top: 20px;
    margin-bottom: auto;
}
.img-right-l.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}

/* img-top */
.img-top .section-body {
    display: block;
}
.img-top.user .h-bottom {
    display: none;
}
.img-top.user .col1 {
    order: 1;
    flex: 3;
    min-width: 320px;
}
.img-top.user .col2 {
    order: 2;
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.img-top.user .col2 > * {
    align-self: center;
}
.img-top.user .col2 > .button {
    margin-top: 20px;
    margin-bottom: auto;
}
.img-top.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}

/* img-bot */
.img-bot .section-body {
    flex-direction: column;
    flex-wrap: nowrap;
}
.img-bot.user .h-bottom {
    display: none;
}
.img-bot.user .col1 {
    order: 2;
    flex: 3;
    min-width: 320px;
}
.img-bot.user .col2 {
    order: 1;
    flex: 1;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.img-bot.user .col2 > * {
    align-self: center;
}
.img-bot.user .col2 > .button {
    margin-top: 20px;
    margin-bottom: auto;
}
.img-bot.user .col1 > .data {
    font-size: 18px;
    margin-left: 3vw;
}

/* wide-panel */
.wide-panel.user {
    margin: 80px 0;
    max-width: 100%;
    border-radius: 0;
    border: none;
}
.wide-panel .section-body {
    display: block;
}
.wide-panel.user .h-bottom {
    display: none;
}
.wide-panel.user .col1 {
    display: none;
}
.wide-panel.user .col2 {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
}
.wide-panel.user .col2 > * {
    align-self: center;
}
.wide-panel.user .col2 > .button {
    margin-bottom: auto;
}
.wide-panel.user .col2 > p {
    max-width: 1280px;
}

@media screen and (max-width: 1000px){
    .wide-panel.user .col2 {
        margin: 0;
    }
}

/* KOLORY SEKCJI - szary */
.user.color-gray {
    background-color: #787878;
    color: var(--color-grays);
    border-color: #787878;
}
.color-gray h1, .color-gray h2, .color-gray h3 {
    color: var(--color-grays);
}
.color-gray .button {
    background-color: var(--color-grays);
    color: var(--color-accent-1);
    border: 3px solid var(--color-accent-1);
}
/* KOLORY SEKCJI - niebieski */
.user.color-blue {
    background-color: #5683a1;
    color: var(--color-secondary);
    border-color: #5683a1;
}
.color-blue h1, .color-blue h2, .color-blue h3 {
    color: var(--color-secondary);
}
.color-blue .button {
    background-color: var(--color-secondary);
    color: var(--color-accent-1);
    border: 3px solid var(--color-accent-1);
}
.color-blue .button:hover {
    color: var(--color-accent-1)!important;
}
.color-blue a {
    color: var(--color-grays);
}
.color-blue a:hover {
    color: var(--color-secondary)!important;
}
/* KOLORY SEKCJI - różowy */
.user.color-pink {
    background-color: #a67ba3;
    color: var(--color-secondary);
    border-color: #a67ba3;
}
.color-pink h1, .color-pink h2, .color-pink h3 {
    color: var(--color-secondary);
}
.color-pink .button {
    background-color: var(--color-secondary);
    color: var(--color-accent-2);
    border: 3px solid var(--color-accent-2);
}
.color-pink .button:hover {
    color: var(--color-accent-2)!important;
}
.color-pink a {
    color: var(--color-grays);
}
.color-pink a:hover {
    color: var(--color-secondary)!important;
}
/* KOLORY SEKCJI - zielony */
.user.color-green {
    background-color: #a2d7c5;
    border-color: #a2d7c5;
}
.color-green h1, .color-green h2, .color-green h3 {
    color: var(--color-primary);
}
.color-green .button {
    background-color: var(--color-secondary);
    color: var(--color-accent-1);
    border: 3px solid var(--color-accent-1);
}

